*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Container
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Container__header
{
    display: flex;
    background-color: red;
    height: 64px;
    align-items: center;
}

.Container__content
{
    flex: 1;
}
.Container__footer
{
    background-color: red;
    height: 64px;
}

/* ---------------- header */

.Container__header--edit1 p
{
    margin-left: 20px;
    margin-right: 20px;
}
.Container__header--edit1 input
{
    flex: 1;
}
.Container__header--edit1 button
{
    margin-right: 20px;
}

/* ---------------- content */
.Container__content
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 10px;
    column-gap: 50px;
    flex-wrap: wrap;
}

.Container__content p
{
    background-color: aqua;
    /* margin: 0 20px; */
    
    
}