*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid rgb(0, 0, 255); */
}
/* --------------------------------  container */
.Container
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Container__header
{
    display: flex;
    background-color: red;
    height: 64px;
    align-items: center;
}

.Container__content
{
    flex: 1;
    display: flex;
}

.Container__content__words
{
    display: flex;
    flex-direction: column;
}

.Container__footer
{
    background-color: red;
    height: 64px;
}

/* --------------------------------  header */

.Container__header label
{
    padding-left: 100px;
    padding-right: 25px;
}
.Container__header input
{
    flex: 1;
}
.Container__header button
{
    margin-right: 100px;
}

/* --------------------------------  main */
.Container__content__aside-left
{
    background-color: rgb(154, 173, 78);
    flex: 1;
}
.Container__content__aside-right
{
    background-color: rgb(0, 255, 68);
    flex: 1;
}

.Container__content__words
{
    flex: 3;
}

.Container__content__words .content
{
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    align-content: flex-start;
    /* row-gap: 5px; */
    column-gap: 25px;
    flex-wrap: wrap;
    padding-top: 25px;
}

.Container__content__words p
{
    background-color: aqua;
    margin: 5px 0;
    border-radius: 4px;
    padding: 0 5px;
    
}

.navigators
{
    margin-top: 20px;
    
    text-align: center;
}

.navigators a
{
    padding: 0px 10px;
}

.navigators .active
{
    background-color: rgba(85, 0, 255, 0.507);
    
    filter: blur(8%);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: large;
    box-shadow: 0 0 10px rgb(85, 0, 255);

}

.navigators a:hover:not(.navigators .active)
{
    text-shadow: 1px 1px 3px rgb(242, 0, 255);
    text-transform: uppercase;
}